body {
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 100;
  color: #333;
}

.container-section {
  margin: 0 auto;
}

.container-body {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.line {
  margin-bottom: -9px;
  background: #333;
  opacity: 0.4;
  height: 7px;
}

section {
  overflow: hidden;
  min-height: 170px;
}

.container-action {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 8px;
  border: 1px solid #fff;
  width: 100%;
}

.card-height {
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  color: white;
}

.card-3,
.card-5,
.card-9 {
  background: #2f454e;
}

.card-2,
.card-4 {
  background: #2b8ead;
}

.card-1,
.card-8 {
  background: #6f98a8;
}

.card-6,
.card-7 {
  background: #bfbfbf;
}

.btn {
  overflow: visible;
  display: block;
  width: 240px;
  position: relative;
  top: 0px;
  font-family: inherit;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  background: #f7f7f7;
  padding: 15px 50px;
  margin: 25px 22px 0 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  transition: All 250ms ease;
  padding: 0.8em 2em;
}

.btn:active {
  position: relative;
  top: 5px;
  box-shadow: none !important;
  transition: All 250ms ease;
}

.btn.blue {
  background: #72c3dc;
  color: #fff;
  border: 1px solid #2b8ead;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #2b8ead;
  text-shadow: 1px 1px 1px #2b8ead;
  font-weight: 100;
}

footer {
  font-size: 0.8em;
  text-align: center;
  color: #333;
  padding: 5px;
}

/* Responsive Breakpoints using the Media Queries */
@media screen and (min-width: 360px) and (max-width: 1000px) {
  .container-section {
    background: none;
    width: 100%;
  }

  .container-body {
    flex-direction: column;
    align-items: center;
  }

  .line {
    display: none;
  }

  header {
    background: #333;
    color: #fff;
  }

  h1 {
    color: #fff;
    height: 60px;
  }

  .btn {
    overflow: visible;
    padding: 15px 25px;
    display: inline-block;
    margin: 10px;
    width: 135px;
  }

  .container-action {
    display: grid;
    grid-template-columns: auto;
  }

  .card-height {
    min-height: 90px;
    color: black;
    font-size: 3em;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8,
  .card-9 {
    background: #efefef;
    margin-bottom: 10px;
  }

  .card-3,
  .card-5,
  .card-9 {
    border-left: 0.3em solid #2f454e;
  }

  .card-2,
  .card-4 {
    border-left: 0.3em solid #2b8ead;
  }

  .card-1,
  .card-8 {
    border-left: 0.3em solid #6f98a8;
  }

  .card-6,
  .card-7 {
    border-left: 0.3em solid #bfbfbf;
  }
}
